@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  box-sizing: border-box;
} */

  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slideInLeft {
    animation: slideInLeft 1s ease-in-out forwards; /* forwards keeps the final state */
  }

  
  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slideInRight {
    animation: slideInRight 2s ease-in-out forwards;
  }


  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Move down initially */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Move to original position */
    }
  }
  
  .animate-fadeInUp {
    animation: fadeInUp 1s ease-in-out forwards; /* Duration and easing */
  }
  